*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(67, 221, 221, 0.906);
}
.product{
    width: 650px;
    display: flex;
    align-items: center;
    
    height: 400px;
    background-color: #fff;
    position: relative;
}
.gallery{
    flex-basis: 80%;
    background-color: #111;
    position: relative;
    height: 110%;
}
.gallery img{
    width: 100%;
    height: 100%;
    box-shadow: -10px 10px 40px 5px #222;
    object-fit: cover;
    object-position: center;
}

.details{
    /* flex-basis: 43%; */
    /* background-color: red; */
    width: 100%;
    height: 100%;
    padding: 0 40px 0 0;
}
.details h1{
    font-size: 35px;
    /* padding: 15px; */
    margin-top: -80px;
    margin-left: 30px;
    padding-bottom: 5px;
}
.details h2{
    font-size: 25px;
    margin-left: 30px;
    padding-bottom: 5px;
    color: #222;

}
.details h3{
    font-size: 12px;
    margin-left: 30px;
    padding-bottom: 5px;
    color: green;
}
.details p{
    margin-left: 30px;
    margin-top: 15px;
    padding-bottom: 5px;
    font-size: 14px;
    color: #222;

}
.size, .color, .quantity{
    display: flex;
    align-items: center;
    
}
.size p, .color p, .quantity p{
    width: 70px;
    font-size: 15px;
    color: #222;
}
 label span{
    cursor: pointer;
    padding-right: 15px;
    
}
label, .quantity input{
    margin-top: 12px;
}
.size label input:checked + span{
    color: blue;
    font-weight: 600;
    font-size: 18px;
    
}
.color label input:checked + span{
    font-size: 20px;
    border-radius: 50%;
    background-color: aqua;
    box-shadow: 1px 1px 6px 0 #111;
}
.color label{
    padding-right: 15px;
}
.color label span{
    height: 10px;
    width: 10px;
    /* background-color: red; */
    border-radius: 50%;
    
}
 label input{
    display: none;
}
#span-red{
    background-color: red;
}
#span-orange{
    background-color: orange;
}#span-yellow{
    background-color: yellow;
}#span-pink{
    background-color: rgb(245, 23, 193);
}
.quantity input{
    width: 40px;
    padding: 2px 4px;
    border-radius: 8px;
    border: 0;
    outline: 0;
    border: 1px solid black;
    background-color: rgba(244, 226, 205, 0.915);

}
.submit-btn{
    position: relative;
    margin-left: 30px;
}
.submit-btn button{
    padding: 10px 0;
    position: absolute;
    /* left: 40%; */
    top: 20px;
    width: 100%;
    background-color: blue;
    color: #fff;
    font-weight: 600;
    border-radius: 15px;
    box-shadow: -7px 10px 20px 0px #222;
}

.gallery .controls{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    bottom: 20px;
    right: 20px;
}
.controls span{
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 50%;
    
}
.controls .btn.active{
    background-color: blue;
    transition: all ease 0.4s;
    
}